@charset "UTF-8";

body {
    background-color: rgb(253, 192, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;            
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 93, 201);
}

h2 {
    color: rgb(255, 0, 191);
}

p {
    text-align: justify;
}